<div class="container-fluid wistia-upload">
	<form id="fileupload" action="" method="POST" enctype="multipart/form-data">
	<div class="row fileupload-buttonbar" ng-show='vm.showUploader'>
		<div class="col-lg-12">
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.displayFailureMessage">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>Sorry!</strong> {{failureMessage ? failureMessage : 'You can only upload videos.'}}
			</div>

				<div class="col-lg-2">
					<span class="btn btn-default btn-file" ng-class="{disabled: vm.btnDisabled}">
					    Browse <input type="file">
					</span>
		    </div>
		</div>
	</div>
	</form>
	<!-- start processing bar -->
	<div class="col-lg-12 fade" ng-class="{in: (vm.isUploading || vm.isProcessing)}">
		<progress-bar striped='true' style={{vm.progressBarStyle}} progress='vm.progressPercentual' message={{vm.progressBarMessage}} />
	</div>

	<div ng-if='vm.uploadedVideo'>
		<wistia-player video='vm.uploadedVideo' on-delete='vm.deleteVideo()' />
	</div>
</div>
